
.jarditou{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
   width: 25%;
   
  }

  .jardin {
    font-family: 'Times New Roman', Times, serif;
    font-size: 180%;
    width: 60%;
    justify-content: space-around;
  }

.menu {

  display: flex;
  color :white;
  background-color :black;
  padding: 5px;

}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 5px;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

.promo {

  width: 100%;

}
